<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <div class="container-fluid">
      <%- include('./includes/navbar.ejs') %>
      <h1 class="text-danger">home page</h1>
      <img src="/images/girl.png" alt="" />
    </div>
  </body>
</html>
