<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/navbar.ejs')%>
    <h1>create product</h1>
    <form
      action="/product/create"
      enctype="multipart/form-data"
      method="POST"
      class="container"
    >
      <div class="form-group">
        <input type="text" name="name" id="name" class="form-control" />
      </div>
      <div class="form-group">
        <label
          >Female:
          <input type="checkbox" name="gender" value="female" />
        </label>
        <label for="">
          Male
          <input type="checkbox" name="gender" value="male" />
        </label>
      </div>
      <div class="form-group">
        Colors
        <label
          >red:
          <input type="checkbox" name="color" value="female" />
        </label>
        <label for="">
          green
          <input type="checkbox" name="color" value="male" />
        </label>
        <label for="">
          black
          <input type="checkbox" name="color" value="black" />
        </label>
        <label for="">
          white
          <input type="checkbox" name="color" value="white" />
        </label>
      </div>
      <div class="form-group">
        <textarea
          name="description"
          id="description"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-group">
        <input type="file" name="productImg" id="productImg" />
      </div>
      <input
        type="submit"
        value="add product"
        class="btn btn-block btn-primary"
      />
    </form>
  </body>
</html>
