<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>
  <body>
    <%- include('../includes/navbar.ejs')%>
    <h1>create product</h1>
    <form enctype="multipart/form-data" method="post" class="container">
      <div class="form-group">
        <input type="text" name="name" id="name" class="form-control" />
      </div>
      <div class="form-group">
        <textarea
          name="description"
          id="description"
          class="form-control"
        ></textarea>
      </div>
      <div class="form-group">
        <input type="file" name="productImg" id="productImg" />
      </div>
      <input
        type="submit"
        value="add product"
        class="btn btn-block btn-primary"
      />
    </form>
  </body>
</html>
